.about {
    color: var(--light);
    font-size: 18px;
}

p {
    padding: 5px;
}

a {
    color: var(--dark);
    font-weight: bolder;
}

a:hover {
    color: var(--light);
    font-weight: normal;
}