.App {
  text-align: center;
}

.App-header {
  	width: 100%;
	margin: 0 auto;
	padding: 70px 0 10px;
	position: relative;
	background-color: var(--dark);
}

.App-link {
  color: #61dafb;
}

#nav {
	position: relative;
	display: table;
	margin: 0 auto 22px;
	padding: 0 0 0 10px;
}

#nav ul {
	text-align: center;
}

#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}

#nav ul li:first-child{padding: 0;}

#nav ul a {
	color: var(--medium);
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	font-weight: normal;
}

#nav ul a:hover,#nav ul a.active{
	color: var(--light);
	text-decoration: none;
}

.content {
	background-color: inherit;
	padding: 20px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: var(--dark);
}

.footer-content {
	display: flex;
	justify-content: center;
}

.fa {
	padding: 12px;
	font-size: 35px !important;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	color: var(--medium);
}

.fa:hover {
	color: var(--light);
}

hr {
	border: 0;
	background-color:var(--light); 
	width:100px; 
	height:2px; 
	display:flex; 
	justify-content:center;
}
