.App {
  text-align: center;
  min-height:100vh;
}

.App-header {
  	width: 100%;
	margin: 0 auto;
	padding: 70px 0 10px;
	position: relative;
	background-color: var(--dark);
}

#nav {
	position: relative;
	display: table;
	margin: 0 auto 22px;
	padding: 0 0 0 10px;
}

#nav ul {
	text-align: center;
}

#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}

#nav ul li:first-child{padding: 0;}

#nav ul a {
	color: var(--medium);
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 0 10px;
	font-weight: normal;
}

#nav ul a:hover,#nav ul a.active{
	color: var(--light);
	text-decoration: none;
}

.content {
	background-color: var(--medium);
	padding: 20px;
	padding-bottom: 70px;
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.divider{
	border: 0;
	color: var(--light);
	width: 100px; 
	height: 2px !important;
	text-align: center;
}

.link-muted {
	color: var(--dark);
	font-weight: bolder;
	text-decoration: none;
}

.link-muted:hover {
    color: inherit;
    font-weight: normal;
}
