.contact-me .fa {
	padding: 12px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	color: var(--light);
}

.contact-me {
    font-size: 20px;
}

.details {
	padding-top: 5px;
	padding-left: 15px;
    padding-right: 30px;
    color: var(--dark);
    font-weight: bolder;
	text-decoration: none;
}
